
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
	/* Hide any enhanced experience content when in core mode, and vice versa. */
	.core .o--if-js,
	.enhanced .o--if-no-js {
		display: none !important;
	}
</style>
<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-typography@^5.8.0,o-layout@^3.2.0,o-header-services@^3.2.9,o-footer-services@^2.0.3,o-syntax-highlight@^1.4.0,o-message@^3.1.0,o-table@^6.9.0,o-labels@^4.2.2,o-buttons@^5.16.6&brand=internal" />

{% comment %}
	Output styles for the customised site logo
	and/or hero image if defined
{% endcomment %}
{% if site.data.origami-theme.logo or (page.hero and page.hero.image_url) %}

	<style>
		{% if site.data.origami-theme.logo %}
			.o-header-services__logo {
				background-image: url('{{site.data.origami-theme.logo}}');
			}
		{% endif %}
		{% if page.hero and page.hero.image_url %}
			.o-layout__hero:before{
				background-image: url('{{page.hero.image_url}}');
			}
		{% endif %}
	</style>

{% endif %}
