
<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#core-nav-fallback" role="button">
				<span class="o-header-services__visually-hidden">Open primary navigation</span>
			</a>
		</div>
		<a href="{{'/' | absolute_url}}" class="o-header-services__logo">
			<span class="o-header-services__visually-hidden">Home page</span>
		</a>
		{% if site.name or site.github.project_title %}
			<div class="o-header-services__title">
				<a class="o-header-services__product-name" href="{{'/' | absolute_url}}">
					{%- if site.name -%}
						{{site.name}}
					{%- elsif site.github.project_title -%}
						{{site.github.project_title}}
					{%- endif -%}
				</a>
				{% if site.tagline %}
					<span class="o-header-services__product-tagline">{{site.tagline}}</span>
				{% endif %}
			</div>
		{% endif %}
	</div>
	{% include navigation.html %}
</header>
