
<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#core-nav-fallback" role="button">
				<span class="o-header-services__visually-hidden">Open primary navigation</span>
			</a>
		</div>
		<a href="{{'/' | absolute_url}}" class="o-header-services__logo">
			<span class="o-header-services__visually-hidden">Home page</span>
		</a>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="{{'/' | absolute_url}}">
				{%- if site.data.origami-theme.name -%}
					{{site.data.origami-theme.name}}
				{%- elsif site.github.project_title -%}
					{{site.github.project_title}}
				{%- else -%}
					Website Name
				{%- endif -%}
			</a>
			{% if site.data.origami-theme.tagline %}
				<span class="o-header-services__product-tagline">{{site.data.origami-theme.tagline}}</span>
			{% endif %}
		</div>
	</div>
	{% include navigation.html %}
</header>
